name: Build and Publish Docker Image

on:
  pull_request:
    branches: [main]
    types: [closed]
  workflow_dispatch:

jobs:
  build_on_merge:
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/docker-reusable-steps.yml
    with:
      checkout-ref: ${{ github.event.pull_request.merge_commit_sha }}
      push: true
    secrets:
      registry-username: ${{ github.actor }}
      registry-password: ${{ secrets.GITHUB_TOKEN }}
  build_manual:
    if: github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/docker-reusable-steps.yml
    with:
      push: true
    secrets:
      registry-username: ${{ github.actor }}
      registry-password: ${{ secrets.GITHUB_TOKEN }}
